    .content {
      margin-left: 100px;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .container-fluid,
    .row,
    .col-md-6 {
      height: 100%;
    }

   .exercises a, .major a {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
	  text-decoration: none;
    }
  

div.exercises{
	background-color:#feeb46;
}

div.major{
	background-color:#565797;
	color:#eef75e!important;
}
div.exercises:hover{

	cursor: pointer;
}

div.major:hover{
	/*background-color: rgba(30, 32, 63,0.98);*/
	cursor: pointer;
}

h3.projects-cart214{
	font-family: 'Leckerli One', cursive;
    font-size: 40px;
    color: #eef75e;
    margin-top: -10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 1.1;
	text-decoration: none;
}

h3.projects--cart214:hover{
	color:black;
}
h3.cart-214{

	font-family: 'Leckerli One', cursive;
	font-size:35px;

	
	
}

div.description-cart214{
	text-align: justify;}

div.container-cart-214{
	margin-left: 39px;
    position: absolute;
}

 @media (max-width: 768px) {
      .content {
        position: static !important;
      }
    }